# Byte-compiled / optimized / DLL files


*.log

*.pot

*.pyc

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/

/__pycache__/

CfA_Bib_Helper.py
author_list-3.txt
bibhelper.py
importdata-old.py
db.sqlite3
dev_key.txt

cfabib/secrets.py
staticfiles/